# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Mac OS files
**/.DS_Store
.DS_Store

# K8s secrets
**/*secret.yaml

# Third Party Vendor Files
dashboard/static/assets/vendor
dashboard/static/assets/js/plugins

# Neo4j files
conf
data

# Vault files
vault/config

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.zip
*.tar.gz
*.tgz
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py
**/values.yaml

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
../.idea/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Editor Files
.idea/
.vscode

# Credentials
vault_service/config/*.json
rest-api/authorization/token_certificate.json
certificates/authority
certificates/*.csr
certificates/*.pem

# Proxy Files
dashboard_proxy/*.go
dashboard_proxy/*.sum
dashboard-proxy/templates
dashboard-proxy/tests
dashboard-proxy/get-version.sh
dashboard-proxy/release.sh
dashboard-proxy/set-version.sh
dashboard_proxy/*.mod
dashboard_proxy/*.md