services:
  admin:
    build:
      context: .
      dockerfile: admin-dashboard/Dockerfile
    image: gcr.io/vault-159468/admin-dashboard:0.1.71
  celery:
    build:
      context: .
      dockerfile: celery/Dockerfile
    image: gcr.io/vault-159468/celery:0.1.62
  neo4j:
    build:
      context: neo4j
      dockerfile: Dockerfile
    image: gcr.io/vault-159468/neo4j:0.1.20
  oidc-proxy:
    build:
      context: oidc-proxy
      dockerfile: Dockerfile
    image: gcr.io/vault-159468/oidc-proxy:0.1.25
  rabbitmq:
    build:
      context: rabbitmq
      dockerfile: Dockerfile
    image: gcr.io/vault-159468/rabbitmq:0.1.8
  rest:
    build:
      context: .
      dockerfile: rest-api/Dockerfile
    image: gcr.io/vault-159468/rest:0.1.54
  web:
    build:
      context: web-app
      dockerfile: Dockerfile
    image: gcr.io/vault-159468/web-app:0.1.53
version: '3.7'
