{% extends "base_site.html" %}

{% block title %} Health Dashboard {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% with page_title="Dashboard" %}
        {% with submit_search_callback="submitHealthSearch" %}
            {% include "components/navigation.html" %}
        {% endwith %}
    {% endwith %}

    {% include "components/health-summary-stats.html" %}
    {% include "components/vaccine-options-modal.html" %}
    {% include "components/location-change-modal.html" %}
    {% include "components/modify-health-modal.html" %}

    <div class="container-fluid mt--7">
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Today's Reports&nbsp;&nbsp;
                                    <button id='health-button-1' onclick="exportHealthSummariesAsCSV()"
                                            class="btn btn-secondary">
                                        Export to CSV
                                    </button>
                                    <button id='health-button-2' onclick="goToManageUsers()"
                                            class="btn btn-secondary">
                                        Manage Members
                                    </button>
                                </h3>
                                <div id="clear-toggle">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table id='home-status-summaries' class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="sort" data-sort="email">Email</th>
                                <th scope="col" class="sort" data-sort="health">Health</th>
                                <th scope="col" class="sort" data-sort="location">Location</th>
                            </tr>
                            </thead>
                            <tbody id="summaries">
                            </tbody>
                            <tfoot id="home-footer">
                            <tr>
                                <th>
                                    <button type="button" id="load-more-home" onclick="populateHealthSummaryTable()"
                                            class="btn btn-primary">
                                        Load more
                                    </button>
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script src="/static/assets/js/home.min.js"></script>
    <script>
        $(document).ready(function () {
            updateSubmittedReportsWidget();
            populateHealthSummaryTable();
        });
    </script>
{% endblock %}