{% extends "base_site.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% with page_title="Dashboard" %}
        {% include "components/navigation.html" %}
    {% endwith %}

    {% include "components/top-stats.html" %}

    <div class="container-fluid mt--7">
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Today</h3>
                                <p class="mt-3 mb-0 text-muted text-sm">
                                    <span class="text">Everyone and their reports</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                                <th scope="col" class="sort" data-sort="budget">Status</th>
                            </tr>
                            </thead>
                            <tbody id="summaries">
                            </tbody>
                           <tfoot>
                              <tr>
                                <th>
                                  <button type="button" class="btn btn-primary">Load more</button>
                                </th>
                                <th></th>
                                <th></th>
                              </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            updateSubmittedWidget();
            updateHomeStatusSummaries();
        });
    </script>
{% endblock %}