{% extends "base_site.html" %}

{% block title %} User {% endblock title %}

{% block stylesheets %}
    {{ super() }}
{% endblock stylesheets %}

{% block content %}

    {% with page_title=email %}
        {% include "components/navigation.html" %}
    {% endwith %}

    <div class="header bg-gradient-primary pb-5 pt-5 pt-md-8">
    </div>

    <div class="container-fluid mt--7">
        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Overview</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <tbody>
                            <tr>
                                <th scope="row">
                                    Email
                                </th>
                                <td id="user-email">
                                    {{ user_email }}
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Current Status
                                </th>
                                <td>
                    <span class="badge badge-dot mr-4">
                      <i id="today-status-color"></i>
                      <span class="status" id="today-status-description"></span>
                    </span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Contacts</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="budget">Interaction Date</th>
                                <th scope="col" class="sort" data-sort="name">Name</th>
                            </tr>
                            </thead>
                            <tbody id="interactions">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row align-items-center">
                            <div class="col">
                                <h3 class="mb-0">Report History</h3>
                            </div>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <!-- Projects table -->
                        <table class="table align-items-center table-flush">
                            <thead>
                            <tr>
                                <th scope="col" class="sort" data-sort="budget">Report Date</th>
                                <th scope="col" class="sort" data-sort="type">Report Type</th>
                            </tr>
                            </thead>
                            <tbody id="reports">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock content %}

{% block javascripts %}
    {{ super() }}
    <script>
        $(document).ready(function () {
            updateUserInteractions("{{ user_email }}");
            updateUserReports("{{ user_email }}");
            updateUserStatus("{{ user_email }}");
        });
    </script>
{% endblock javascripts %}
