<div class="modal fade" role="dialog" tabindex="-1" id="{% block modal_name %}{% endblock %}">
    <div class="modal-dialog full_modal-dialog" role="document">
        <div class="modal-content full_modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{% block modal_title %}{% endblock %}</h4>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>