{% extends "components/base_modal.html" %}
{% block modal_name %}modify-users{% endblock %}
{% block modal_title %}Modify Users{% endblock %}
{% block modal_body %}
    <div class="toggle-access">
        <h5 class="modal-subheader">Toggle Access</h5>
        <p style="font-size: 15px;">If a user no longer needs access to MarinTrace, you can disable their account
            (preserving their report history and
            interactions), but blocking them further access. You can also enable their account at any time.</p>
        <table>
            <tbody>
            <tr>
                <td>
                    <button id='disable-access-btn' onclick='submitCheckedToggleAccess(true)'
                            class="btn btn-danger btn-reduced">Disable Access
                    </button>
                </td>
                <td>
                    <button id='enable-access-btn' onclick='submitCheckedToggleAccess(false)'
                            class="btn btn-success btn-reduced">Enable Access
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div id="password-reset"><br>
        <h5 class="modal-subheader">Resend Invitation</h5>
        <p style="font-size: 15px;">If a user does not redeem their invitation in 48 hours, their link will expire. You
            can re-send invites to those users here.</p>
        <button id="password-reset-btn" onclick='submitCheckedPasswordReset()' class="btn btn-warning btn-reduced">
            Resend Invite
        </button>
    </div>
    <div id="switch-report" style="display:none"><br>
        <h5 class="modal-subheader">Switch Reporting Campus</h5>
        <p style="font-size: 15px;">You can switch a user between MarinTrace campuses you have administrator permissions
            for. Please note that their report history will not transfer from school to school—a new history will be
            created at each campus. Inactive campuses will be read-only.</p>
        <button id="switch-report-btn" onclick='submitSwitchReport()' class="btn btn-warning btn-reduced">
            Switch Campus
        </button>
    </div>
    <div id="delete-users"><br>
        <h5 class="modal-subheader">Permanently Delete</h5>
        <p style="font-size: 15px;">The button below will remove a user's access to MarinTrace and delete their report
            history and contacts. Please note
            that this is not reversible, and the deleted information cannot be recovered.
        <div id="campus-history-warning" style="display: none">Since you have access to multiple
            campuses, you can use the "Delete Campus History" button to clear the user's
            report history for the current campus (but keeping it everywhere else).
        </div>
        </p>
        <button class="btn btn-danger btn-reduced" id="delete-users-btn" onclick="submitCheckedDeleteUsers()">Delete
            Users
        </button>
        <button class="btn btn-secondary btn-reduced" id="delete-campus-history-btn" style="display: none"
                onclick="submitCheckedDeleteUsers()">Delete
            Campus History
        </button>

    </div>
{% endblock %}
{% block modal_footer %}
{% endblock %}

