{% extends "components/base_modal.html" %}
{% block modal_name %}policy-modal{% endblock %}
{% block modal_title %}Before continuing, you must accept the Terms of Use and Privacy Policy{% endblock %}
{% block modal_body %}
    <iframe id="policyFrame" src="https://marintracingapp.org/privacy-min.html" name="agreement_frame" scrolling="yes"
            frameborder="0" height="100%" width="100%"></iframe>
{% endblock %}
{% block modal_footer %}
    <button class="btn btn-primary" id="acceptButton" onclick="acceptPolicy()" type="button">Accept</button>
{% endblock %}

