<!-- Sidenav -->
<nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
    <div class="container-fluid">
        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand pt-2 pb-0" href="/">
            <img src="/static/assets/img/brand/trans.png" class="navbar-brand-img" alt="MarinTrace Dashboard">
        </a>
        <!-- Collapse -->
        <div class="collapse navbar-collapse" id="sidenav-collapse-main">
            <!-- Collapse header -->
            <div class="navbar-collapse-header d-md-none">
                <div class="row">
                    <div class="col-6 collapse-brand">
                        <a href="/">
                            <img src="/static/assets/img/brand/blue.png">
                        </a>
                    </div>
                    <div class="col-6 collapse-close">
                        <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Form -->
            <form class="mt-4 mb-3 d-md-none">
                <div class="input-group input-group-rounded input-group-merge">
                    <input type="search" class="form-control form-control-rounded form-control-prepended"
                           placeholder="Search" aria-label="Search">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <span class="fa fa-search"></span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Navigation -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <i class="ni ni-tv-2 text-primary"></i> Health Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/manage-users">
                        <i class="ni ni-tv-2 text-primary"></i> Manage Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='#' onclick="showResendBriefingModal();">
                        <i class="ni ni-tv-2 text-primary"></i> <span
                            id="resend-briefing-text">Resend Daily Briefing</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://marintracingapp.org/privacy.html">
                        <i class="ni ni-user-run text-red"></i>Terms and Privacy
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://marintracingapp.org/security.html">
                        <i class="ni ni-user-run text-red"></i>Security Info
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="showSwitchRoleModal()">
                        <i class="ni ni-user-run text-red"></i> Switch Campus
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" onclick="logoutUser()">
                        <i class="ni ni-user-run text-red"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
