{% extends "components/base_modal.html" %}
{% block modal_name %}user-import{% endblock %}
{% block modal_title %}Import Users from CSV{% endblock %}
{% block modal_body %}
    <p style="font-size:15px;">
        To import multiple users at the same time, MarinTrace can create users from a
        <a href="https://wiseflow.zendesk.com/hc/en-gb/articles/115000709394-How-to-open-a-CSV-file-in-Excel-PC-MAC-">CSV</a>
        (spreadsheet) file. You should download our starter template below to make sure MarinTrace can read your
        file. It should open in your default spreadsheet application (like Excel or Numbers).
    </p>
    <a href="/static/assets/sample_files/sample_import.csv" target="_blank">
        <button class="btn btn-muted">Download Template</button>
    </a><br>

    <p style="font-size:15px;">
        <br>
        Simply fill out the columns for each user you would like to import and upload the
        completed CSV below. They will receive email invitations (valid for 48 hours) which they can use to create
        their accounts. Since this may take some time, you may not see all the users at once.
        Come back to this page shortly to see your imports!
    </p>

    <form id="bulk-import">
        <input name='users' type="file" accept=".csv">
    </form>
{% endblock %}
{% block modal_footer %}
    <button class="btn btn-primary" id='import-submit' onclick="initiateBulkImport()" type="submit">Submit</button>
{% endblock %}
