{% extends "components/base_modal.html" %}
{% block modal_name %}vaccine-options{% endblock %}
{% block modal_title %}Vaccination Options: <a href="#" id="vac-user-email"></a>{% endblock %}
{% block modal_body %}
    <p style="font-size:15px;">Please note that changing a user to "vaccinated" will allow them to bypass the morning
        check-in. They will receive a "green card" without submitting the morning survey.
    </p>
    <form id="vaccine-form" action="#">
        <input type="radio" id="vax-opt" name="vax-status" value="vaccinated"/>
        <label for="vax-opt">Fully Vaccinated</label><br>
        <input type="radio" id="novax-opt" name="vax-status" value="not_vaccinated"/>
        <label for="novax-opt">Not Vaccinated</label><br>
    </form>
{% endblock %}
{% block modal_footer %}
    <button class="btn btn-primary" id="submitVaccineToggle" type="button">Submit</button>
{% endblock %}
